[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/minimo"]
	path = themes/minimo
	url = https://github.com/MunifTanjim/minimo
[submodule "minimo"]
	path = minimo
	url = https://github.com/atomoton/minimo
[submodule "phugo"]
	path = phugo
	url = https://github.com/atomoton/phugo
